In [70]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [71]:
global_df = pd.read_csv("Resources/time_series_covid19_confirmed_global.csv")
global_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,35301,35475,35526,35615,35727,35928,35981,36036,36157,36263
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,4008,4090,4171,4290,4358,4466,4570,4637,4763,4880
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,22549,23084,23691,24278,24872,25484,26159,26764,27357,27973
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,880,880,884,884,889,889,897,897,897,907
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,687,705,749,779,812,851,880,916,932,950

In [72]:
europe_df_a = global_df[global_df["Country/Region"] == "Russia"]
europe_df_b = global_df[global_df["Country/Region"] == "Turkey"]
europe_df_c = global_df[global_df["Country/Region"] == "Germany"]
europe_df_d = global_df[global_df["Country/Region"] == "France"]
europe_df_e = global_df[global_df["Country/Region"] == "Italy"]
europe_df_f = global_df[global_df["Country/Region"] == "United Kingdom"]
europe_df_g = global_df[global_df["Country/Region"] == "Spain"]
europe_df_h = global_df[global_df["Country/Region"] == "Ukraine"]
europe_df_i = global_df[global_df["Country/Region"] == "Poland"]
europe_df_j = global_df[global_df["Country/Region"] == "Romania"]
europe_df_k = global_df[global_df["Country/Region"] == "Kazakhstan"]
europe_df_l = global_df[global_df["Country/Region"] == "Netherlands"]
europe_df_m = global_df[global_df["Country/Region"] == "Belgium"]
europe_df_n = global_df[global_df["Country/Region"] == "Greece"]
europe_df_o = global_df[global_df["Country/Region"] == "Sweden"]

In [73]:
europe_df = europe_df_a.append(europe_df_b)
europe_df = europe_df.append(europe_df_c)
europe_df = europe_df.append(europe_df_d)
europe_df = europe_df.append(europe_df_e)
europe_df = europe_df.append(europe_df_f)
europe_df = europe_df.append(europe_df_g)
europe_df = europe_df.append(europe_df_h)
europe_df = europe_df.append(europe_df_i)
europe_df = europe_df.append(europe_df_j)
europe_df = europe_df.append(europe_df_k)
europe_df = europe_df.append(europe_df_l)
europe_df = europe_df.append(europe_df_m)
europe_df = europe_df.append(europe_df_n)
europe_df = europe_df.append(europe_df_o)

In [74]:
europe_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20
187,NaN,Russia,61.524010,105.318756,0,0,0,0,0,0,...,764215,770311,776212,782040,787890,793720,799499,805332,811073,816680
213,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,218717,219641,220572,221500,222402,223315,224252,225173,226100,227019
120,NaN,Germany,51.165691,10.451526,0,0,0,0,0,1,...,202426,202735,203325,203717,204276,204881,205623,206278,206667,207112
107,French Guiana,France,3.933900,-53.125800,0,0,0,0,0,0,...,6655,6655,6745,6851,6883,7086,7251,7332,7332,7514
108,French Polynesia,France,-17.679700,149.406800,0,0,0,0,0,0,...,62,62,62,62,62,62,62,62,62,62
109,Guadeloupe,France,16.265000,-61.551000,0,0,0,0,0,0,...,195,195,195,195,195,195,203,203,203,203
110,Mayotte,France,-12.827500,45.166244,0,0,0,0,0,0,...,2782,2782,2808,2824,2839,2862,2862,2862,2862,2900
111,New Caledonia,France,-20.904305,165.618042,0,0,0,0,0,0,...,22,22,22,22,22,22,22,22,22,22
112,Reunion,France,-21.115100,55.536400,0,0,0,0,0,0,...,624,628,631,639,645,646,654,657,657,657
113,Saint Barthelemy,France,17.900000,-62.833300,0,0,0,0,0,0,...,6,6,6,6,6,6,6,7,7,7
114,St Martin,France,18.070800,-63.050100,0,0,0,0,0,0,...,46,46,46,46,46,46,46,49,49,49
115,Martinique,France,14.641500,-61.024200,0,0,0,0,0,0,...,262,262,262,262,262,262,269,269,269,269
116,NaN,France,46.227600,2.213700,0,0,2,3,3,3,...,201285,201281,203242,203696,204641,205476,206418,206334,206334,208665
258,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4
137,NaN,Italy,41.871940,12.567380,0,0,0,0,0,0,...,244216,244434,244624,244752,245032,245338,245590,245864,246118,246286
217,Bermuda,United Kingdom,32.307800,-64.750500,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,154
218,Cayman Islands,United Kingdom,19.313300,-81.254600,0,0,0,0,0,0,...,203,203,203,203,203,203,203,203,203,203
219,Channel Islands,United Kingdom,49.372300,-2.364400,0,0,0,0,0,0,...,583,583,583,583,583,583,584,584,584,584
220,Gibraltar,United Kingdom,36.140800,-5.353600,0,0,0,0,0,0,...,180,180,180,180,182,184,184,185,185,185
221,Isle of Man,United Kingdom,54.236100,-4.548100,0,0,0,0,0,0,...,336,336,336,336,336,336,336,336,336,336
222,Montserrat,United Kingdom,16.742498,-62.187366,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
223,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,294066,294792,295372,295817,296377,297146,297914,298681,299426,300111
248,Anguilla,United Kingdom,18.220600,-63.068600,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
249,British Virgin Islands,United Kingdom,18.420700,-64.640000,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,8
250,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,0,0,0,0,0,0,...,75,75,81,81,82,90,90,92,97,99
257,Falkland Islands (Malvinas),United Kingdom,-51.796300,-59.523600,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
201,NaN,Spain,40.463667,-3.749220,0,0,0,0,0,0,...,260255,260255,264836,266194,267551,270166,272421,272421,272421,272421
215,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,59333,60077,60767,61454,62295,63169,64173,65317,66261,67096
183,NaN,Poland,51.919400,19.145100,0,0,0,0,0,0,...,39746,40104,40383,40782,41162,41580,42038,42622,43065,43402
186,NaN,Romania,45.943200,24.966800,0,0,0,0,0,0,...,36691,37458,38139,39133,40163,41275,42394,43678,44798,45902
141,NaN,Kazakhstan,48.019600,66.923700,0,0,0,0,0,0,...,68703,71838,73468,75153,75153,78486,80226,81720,83122,84648
166,Aruba,Netherlands,12.521100,-69.968300,0,0,0,0,0,0,...,111,113,115,117,117,117,118,119,119,119
167,Curacao,Netherlands,12.169600,-68.990000,0,0,0,0,0,0,...,28,28,28,28,28,28,29,29,29,29
168,Sint Maarten,Netherlands,18.042500,-63.054800,0,0,0,0,0,0,...,79,79,79,79,79,81,84,93,114,114
169,NaN,Netherlands,52.132600,5.291300,0,0,0,0,0,0,...,51581,51725,51910,52073,52241,52404,52595,52732,52732,53151
255,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,0,0,0,0,0,0,...,10,10,10,10,10,10,11,11,11,11
23,NaN,Belgium,50.833300,4.469936,0,0,0,0,0,0,...,63706,63706,64094,64258,64627,64847,65199,65727,66026,66428
122,NaN,Greece,39.074200,21.824300,0,0,0,0,0,0,...,3983,4007,4012,4048,4077,4110,4135,4166,4193,4227
205,NaN,Sweden,60.128161,18.643501,0,0,0,0,0,0,...,77281,77281,78048,78166,78504,78763,78997,78997,78997,79395

In [75]:
#clean_europe = europe_df[europe_df["Province/State"] == ""]
#clean_europe = europe_df[europe_df('NaN')]
#df.loc[df['shield'] > 6]
clean_europe = europe_df.loc[europe_df["Province/State"].isnull()]
clean_europe

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20
187,NaN,Russia,61.524010,105.318756,0,0,0,0,0,0,...,764215,770311,776212,782040,787890,793720,799499,805332,811073,816680
213,NaN,Turkey,38.963700,35.243300,0,0,0,0,0,0,...,218717,219641,220572,221500,222402,223315,224252,225173,226100,227019
120,NaN,Germany,51.165691,10.451526,0,0,0,0,0,1,...,202426,202735,203325,203717,204276,204881,205623,206278,206667,207112
116,NaN,France,46.227600,2.213700,0,0,2,3,3,3,...,201285,201281,203242,203696,204641,205476,206418,206334,206334,208665
137,NaN,Italy,41.871940,12.567380,0,0,0,0,0,0,...,244216,244434,244624,244752,245032,245338,245590,245864,246118,246286
223,NaN,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,...,294066,294792,295372,295817,296377,297146,297914,298681,299426,300111
201,NaN,Spain,40.463667,-3.749220,0,0,0,0,0,0,...,260255,260255,264836,266194,267551,270166,272421,272421,272421,272421
215,NaN,Ukraine,48.379400,31.165600,0,0,0,0,0,0,...,59333,60077,60767,61454,62295,63169,64173,65317,66261,67096
183,NaN,Poland,51.919400,19.145100,0,0,0,0,0,0,...,39746,40104,40383,40782,41162,41580,42038,42622,43065,43402
186,NaN,Romania,45.943200,24.966800,0,0,0,0,0,0,...,36691,37458,38139,39133,40163,41275,42394,43678,44798,45902
141,NaN,Kazakhstan,48.019600,66.923700,0,0,0,0,0,0,...,68703,71838,73468,75153,75153,78486,80226,81720,83122,84648
169,NaN,Netherlands,52.132600,5.291300,0,0,0,0,0,0,...,51581,51725,51910,52073,52241,52404,52595,52732,52732,53151
23,NaN,Belgium,50.833300,4.469936,0,0,0,0,0,0,...,63706,63706,64094,64258,64627,64847,65199,65727,66026,66428
122,NaN,Greece,39.074200,21.824300,0,0,0,0,0,0,...,3983,4007,4012,4048,4077,4110,4135,4166,4193,4227
205,NaN,Sweden,60.128161,18.643501,0,0,0,0,0,0,...,77281,77281,78048,78166,78504,78763,78997,78997,78997,79395

In [76]:
clean_europe = clean_europe.drop(['Province/State'], axis=1)
country_df = clean_europe.set_index("Country/Region")

In [78]:
country_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Russia,61.524010,105.318756,0,0,0,0,0,0,0,0,...,764215,770311,776212,782040,787890,793720,799499,805332,811073,816680
Turkey,38.963700,35.243300,0,0,0,0,0,0,0,0,...,218717,219641,220572,221500,222402,223315,224252,225173,226100,227019
Germany,51.165691,10.451526,0,0,0,0,0,1,4,4,...,202426,202735,203325,203717,204276,204881,205623,206278,206667,207112
France,46.227600,2.213700,0,0,2,3,3,3,4,5,...,201285,201281,203242,203696,204641,205476,206418,206334,206334,208665
Italy,41.871940,12.567380,0,0,0,0,0,0,0,0,...,244216,244434,244624,244752,245032,245338,245590,245864,246118,246286
United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,0,0,...,294066,294792,295372,295817,296377,297146,297914,298681,299426,300111
Spain,40.463667,-3.749220,0,0,0,0,0,0,0,0,...,260255,260255,264836,266194,267551,270166,272421,272421,272421,272421
Ukraine,48.379400,31.165600,0,0,0,0,0,0,0,0,...,59333,60077,60767,61454,62295,63169,64173,65317,66261,67096
Poland,51.919400,19.145100,0,0,0,0,0,0,0,0,...,39746,40104,40383,40782,41162,41580,42038,42622,43065,43402
Romania,45.943200,24.966800,0,0,0,0,0,0,0,0,...,36691,37458,38139,39133,40163,41275,42394,43678,44798,45902
Kazakhstan,48.019600,66.923700,0,0,0,0,0,0,0,0,...,68703,71838,73468,75153,75153,78486,80226,81720,83122,84648
Netherlands,52.132600,5.291300,0,0,0,0,0,0,0,0,...,51581,51725,51910,52073,52241,52404,52595,52732,52732,53151
Belgium,50.833300,4.469936,0,0,0,0,0,0,0,0,...,63706,63706,64094,64258,64627,64847,65199,65727,66026,66428
Greece,39.074200,21.824300,0,0,0,0,0,0,0,0,...,3983,4007,4012,4048,4077,4110,4135,4166,4193,4227
Sweden,60.128161,18.643501,0,0,0,0,0,0,0,0,...,77281,77281,78048,78166,78504,78763,78997,78997,78997,79395

In [90]:
clean_europe_tp = country_df.T
clean_europe_tp.head(25)

Country/Region,Russia,Turkey,Germany,France,Italy,United Kingdom,Spain,Ukraine,Poland,Romania,Kazakhstan,Netherlands,Belgium,Greece,Sweden
Lat,61.524010,38.9637,51.165691,46.2276,41.87194,55.3781,40.463667,48.3794,51.9194,45.9432,48.0196,52.1326,50.833300,39.0742,60.128161
Long,105.318756,35.2433,10.451526,2.2137,12.56738,-3.4360,-3.749220,31.1656,19.1451,24.9668,66.9237,5.2913,4.469936,21.8243,18.643501
1/22/20,0.000000,0.0000,0.000000,0.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/23/20,0.000000,0.0000,0.000000,0.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/24/20,0.000000,0.0000,0.000000,2.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/25/20,0.000000,0.0000,0.000000,3.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/26/20,0.000000,0.0000,0.000000,3.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/27/20,0.000000,0.0000,1.000000,3.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/28/20,0.000000,0.0000,4.000000,4.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/29/20,0.000000,0.0000,4.000000,5.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/30/20,0.000000,0.0000,4.000000,5.0000,0.00000,0.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,0.000000
1/31/20,2.000000,0.0000,5.000000,5.0000,2.00000,2.0000,0.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,1.000000
2/1/20,2.000000,0.0000,8.000000,6.0000,2.00000,2.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,1.000000
2/2/20,2.000000,0.0000,10.000000,6.0000,2.00000,2.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,1.000000
2/3/20,2.000000,0.0000,12.000000,6.0000,2.00000,8.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,0.000000,0.0000,1.000000
2/4/20,2.000000,0.0000,12.000000,6.0000,2.00000,8.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/5/20,2.000000,0.0000,12.000000,6.0000,2.00000,9.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/6/20,2.000000,0.0000,12.000000,6.0000,2.00000,9.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/7/20,2.000000,0.0000,13.000000,6.0000,3.00000,9.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/8/20,2.000000,0.0000,13.000000,11.0000,3.00000,13.0000,1.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/9/20,2.000000,0.0000,14.000000,11.0000,3.00000,14.0000,2.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/10/20,2.000000,0.0000,14.000000,11.0000,3.00000,14.0000,2.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/11/20,2.000000,0.0000,16.000000,11.0000,3.00000,15.0000,2.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/12/20,2.000000,0.0000,16.000000,11.0000,3.00000,16.0000,2.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000
2/13/20,2.000000,0.0000,16.000000,11.0000,3.00000,17.0000,2.000000,0.0000,0.0000,0.0000,0.0000,0.0000,1.000000,0.0000,1.000000

Country/Region,Russia,Turkey,Germany,France,Italy,United Kingdom,Spain,Ukraine,Poland,Romania,Kazakhstan,Netherlands,Belgium,Greece,Sweden
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20,7/27/20
187,Russia,61.524010,105.318756,0,0,0,0,0,0,0,...,764215,770311,776212,782040,787890,793720,799499,805332,811073,816680
213,Turkey,38.963700,35.243300,0,0,0,0,0,0,0,...,218717,219641,220572,221500,222402,223315,224252,225173,226100,227019
120,Germany,51.165691,10.451526,0,0,0,0,0,1,4,...,202426,202735,203325,203717,204276,204881,205623,206278,206667,207112
116,France,46.227600,2.213700,0,0,2,3,3,3,4,...,201285,201281,203242,203696,204641,205476,206418,206334,206334,208665
137,Italy,41.871940,12.567380,0,0,0,0,0,0,0,...,244216,244434,244624,244752,245032,245338,245590,245864,246118,246286
223,United Kingdom,55.378100,-3.436000,0,0,0,0,0,0,0,...,294066,294792,295372,295817,296377,297146,297914,298681,299426,300111
201,Spain,40.463667,-3.749220,0,0,0,0,0,0,0,...,260255,260255,264836,266194,267551,270166,272421,272421,272421,272421
215,Ukraine,48.379400,31.165600,0,0,0,0,0,0,0,...,59333,60077,60767,61454,62295,63169,64173,65317,66261,67096
183,Poland,51.919400,19.145100,0,0,0,0,0,0,0,...,39746,40104,40383,40782,41162,41580,42038,42622,43065,43402
186,Romania,45.943200,24.966800,0,0,0,0,0,0,0,...,36691,37458,38139,39133,40163,41275,42394,43678,44798,45902
141,Kazakhstan,48.019600,66.923700,0,0,0,0,0,0,0,...,68703,71838,73468,75153,75153,78486,80226,81720,83122,84648
169,Netherlands,52.132600,5.291300,0,0,0,0,0,0,0,...,51581,51725,51910,52073,52241,52404,52595,52732,52732,53151
23,Belgium,50.833300,4.469936,0,0,0,0,0,0,0,...,63706,63706,64094,64258,64627,64847,65199,65727,66026,66428
122,Greece,39.074200,21.824300,0,0,0,0,0,0,0,...,3983,4007,4012,4048,4077,4110,4135,4166,4193,4227
205,Sweden,60.128161,18.643501,0,0,0,0,0,0,0,...,77281,77281,78048,78166,78504,78763,78997,78997,78997,79395

In [97]:
# Multiple row and column selections using iloc and DataFrame

weekly_df = clean_europe_tp.iloc[[2,9,16,23,30,37,44,51,58,65,72,79,86,93,100,107,114,121,128,135,142,149,156,163,170,177,184], :] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
weekly_df

Country/Region,Russia,Turkey,Germany,France,Italy,United Kingdom,Spain,Ukraine,Poland,Romania,Kazakhstan,Netherlands,Belgium,Greece,Sweden
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/29/20,0.0,0.0,4.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2/5/20,2.0,0.0,12.0,6.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2/12/20,2.0,0.0,16.0,11.0,3.0,16.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2/19/20,2.0,0.0,16.0,12.0,3.0,20.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2/26/20,2.0,0.0,27.0,18.0,453.0,37.0,13.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0
3/4/20,3.0,0.0,262.0,285.0,3089.0,245.0,222.0,1.0,1.0,4.0,0.0,38.0,23.0,9.0,35.0
3/11/20,20.0,1.0,1908.0,2281.0,12462.0,1298.0,2277.0,1.0,31.0,45.0,0.0,503.0,314.0,99.0,500.0
3/18/20,147.0,98.0,12327.0,9043.0,35713.0,5451.0,13910.0,14.0,251.0,260.0,35.0,2051.0,1486.0,418.0,1279.0
3/25/20,658.0,2433.0,37323.0,25233.0,74386.0,17732.0,49515.0,145.0,1051.0,906.0,81.0,6412.0,4937.0,821.0,2526.0
4/1/20,2777.0,15679.0,77872.0,56989.0,110574.0,43398.0,104118.0,794.0,2554.0,2460.0,380.0,13614.0,13964.0,1415.0,4947.0
4/8/20,8672.0,38226.0,113296.0,82048.0,139422.0,76646.0,148220.0,1668.0,5205.0,4761.0,727.0,20549.0,23403.0,1884.0,8419.0
4/15/20,24490.0,69392.0,134753.0,132473.0,165155.0,106458.0,177644.0,3764.0,7582.0,7216.0,1295.0,28153.0,33573.0,2192.0,11927.0
4/22/20,57999.0,98674.0,150648.0,154715.0,187327.0,140397.0,208389.0,6592.0,10169.0,9710.0,2135.0,34842.0,41889.0,2408.0,16004.0
4/29/20,99399.0,117589.0,161539.0,165093.0,203591.0,172587.0,212917.0,9866.0,12640.0,11978.0,3138.0,38802.0,47859.0,2576.0,20302.0
5/6/20,165929.0,131744.0,168162.0,172465.0,214457.0,199358.0,220325.0,13184.0,14740.0,14107.0,4422.0,41319.0,50781.0,2663.0,23918.0
5/13/20,242271.0,143114.0,174098.0,175981.0,222104.0,220915.0,228691.0,16425.0,17204.0,16002.0,5417.0,43211.0,53981.0,2760.0,27909.0
5/20/20,308705.0,152587.0,178473.0,179069.0,227364.0,238253.0,232555.0,19230.0,19739.0,17387.0,6969.0,44447.0,55983.0,2850.0,31523.0
5/27/20,370680.0,159797.0,181524.0,180044.0,231139.0,250739.0,236259.0,21905.0,22473.0,18594.0,9304.0,45768.0,57592.0,2903.0,35088.0
6/3/20,431715.0,166422.0,184121.0,185440.0,233836.0,260388.0,240326.0,25385.0,24687.0,19669.0,12067.0,46733.0,58685.0,2937.0,40803.0
6/10/20,493023.0,173036.0,186522.0,188322.0,235763.0,267656.0,242280.0,29015.0,27842.0,20945.0,13319.0,48087.0,59569.0,3068.0,46814.0
6/17/20,552549.0,182727.0,188604.0,190534.0,237828.0,274504.0,244683.0,33986.0,30701.0,22760.0,15877.0,49204.0,60244.0,3203.0,54562.0
6/24/20,606043.0,191657.0,192871.0,192265.0,239410.0,280340.0,247086.0,39852.0,32821.0,24826.0,19285.0,49804.0,60898.0,3310.0,62324.0
7/1/20,653479.0,201098.0,195893.0,194985.0,240760.0,283770.0,249659.0,45924.0,34775.0,27296.0,41065.0,50335.0,61509.0,3432.0,69692.0
7/8/20,699749.0,208938.0,198699.0,196796.0,242149.0,286979.0,252513.0,51457.0,36689.0,30175.0,51059.0,50746.0,62123.0,3622.0,73858.0
7/15/20,745197.0,215940.0,200890.0,200338.0,243506.0,291911.0,257494.0,56779.0,38721.0,34226.0,65188.0,51252.0,62872.0,3910.0,76492.0
7/22/20,787890.0,222402.0,204276.0,204641.0,245032.0,296377.0,267551.0,62295.0,41162.0,40163.0,75153.0,52241.0,64627.0,4077.0,78504.0