In [12]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [13]:
global_stats = pd.read_csv("Resources/worldometer_data.csv")
global_stats.head(30)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
5,Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
6,Peru,South America,3.301632e+07,455409,NaN,20424.0,NaN,310337.0,NaN,124648.0,1426.0,13793.0,619.0,2493429.0,75521.0,Americas
7,Chile,South America,1.913251e+07,366671,NaN,9889.0,NaN,340168.0,NaN,16614.0,1358.0,19165.0,517.0,1760615.0,92022.0,Americas
8,Colombia,South America,5.093626e+07,357710,NaN,11939.0,NaN,192355.0,NaN,153416.0,1493.0,7023.0,234.0,1801835.0,35374.0,Americas
9,Spain,Europe,4.675665e+07,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe
10,Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
11,UK,Europe,6.792203e+07,308134,NaN,46413.0,NaN,NaN,NaN,NaN,73.0,4537.0,683.0,17515234.0,257873.0,Europe
12,Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
13,Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
14,Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
15,Italy,Europe,6.045257e+07,249204,NaN,35187.0,NaN,201323.0,NaN,12694.0,42.0,4122.0,582.0,7099713.0,117443.0,Europe
16,Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
17,Argentina,South America,4.523688e+07,228195,NaN,4251.0,NaN,99852.0,NaN,124092.0,1150.0,5044.0,94.0,794544.0,17564.0,Americas
18,Germany,Europe,8.381126e+07,215210,NaN,9252.0,NaN,196200.0,NaN,9758.0,236.0,2568.0,110.0,8586648.0,102452.0,Europe
19,France,Europe,6.528831e+07,195633,NaN,30312.0,NaN,82460.0,NaN,82861.0,384.0,2996.0,464.0,3992206.0,61147.0,Europe
20,Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
21,Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
22,Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
23,Canada,North America,3.777502e+07,118561,NaN,8966.0,NaN,103106.0,NaN,6489.0,2263.0,3139.0,237.0,4319172.0,114339.0,Americas
24,Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
25,Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
26,Egypt,Africa,1.025165e+08,95006,NaN,4951.0,NaN,48898.0,NaN,41157.0,41.0,927.0,48.0,135000.0,1317.0,EasternMediterranean
27,Ecuador,South America,1.766882e+07,90537,NaN,5877.0,NaN,71318.0,NaN,13342.0,378.0,5124.0,333.0,258582.0,14635.0,Americas
28,Bolivia,South America,1.168846e+07,86423,1282.0,3465.0,80.0,27373.0,936.0,55585.0,71.0,7394.0,296.0,183583.0,15706.0,Americas
29,Sweden,Europe,1.010560e+07,81967,NaN,5766.0,NaN,NaN,NaN,NaN,38.0,8111.0,571.0,863315.0,85429.0,Europe

In [14]:
europe_df_a = global_stats[global_stats["Country/Region"] == "Russia"]
europe_df_b = global_stats[global_stats["Country/Region"] == "Turkey"]
europe_df_c = global_stats[global_stats["Country/Region"] == "Germany"]
europe_df_d = global_stats[global_stats["Country/Region"] == "France"]
europe_df_e = global_stats[global_stats["Country/Region"] == "Italy"]
europe_df_f = global_stats[global_stats["Country/Region"] == "United Kingdom"]
europe_df_g = global_stats[global_stats["Country/Region"] == "Spain"]
europe_df_h = global_stats[global_stats["Country/Region"] == "Ukraine"]
europe_df_i = global_stats[global_stats["Country/Region"] == "Poland"]
europe_df_j = global_stats[global_stats["Country/Region"] == "Romania"]

In [15]:
europe_stats = europe_df_a.append(europe_df_b)
europe_stats = europe_stats.append(europe_df_c)
europe_stats = europe_stats.append(europe_df_d)
europe_stats = europe_stats.append(europe_df_e)
europe_stats = europe_stats.append(europe_df_f)
europe_stats = europe_stats.append(europe_df_g)
europe_stats = europe_stats.append(europe_df_h)
europe_stats = europe_stats.append(europe_df_i)
europe_stats = europe_stats.append(europe_df_j)

In [16]:
europe_stats

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
3,Russia,Europe,145940924.0,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
16,Turkey,Asia,84428331.0,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
18,Germany,Europe,83811260.0,215210,NaN,9252.0,NaN,196200.0,NaN,9758.0,236.0,2568.0,110.0,8586648.0,102452.0,Europe
19,France,Europe,65288306.0,195633,NaN,30312.0,NaN,82460.0,NaN,82861.0,384.0,2996.0,464.0,3992206.0,61147.0,Europe
15,Italy,Europe,60452568.0,249204,NaN,35187.0,NaN,201323.0,NaN,12694.0,42.0,4122.0,582.0,7099713.0,117443.0,Europe
9,Spain,Europe,46756648.0,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe
32,Ukraine,Europe,43705858.0,76808,NaN,1819.0,NaN,42524.0,NaN,32465.0,158.0,1757.0,42.0,1116641.0,25549.0,Europe
44,Poland,Europe,37842302.0,49515,NaN,1774.0,NaN,35642.0,NaN,12099.0,72.0,1308.0,47.0,2374686.0,62752.0,Europe
39,Romania,Europe,19224023.0,57895,NaN,2566.0,NaN,28992.0,NaN,26337.0,458.0,3012.0,133.0,1319369.0,68631.0,Europe

In [17]:
europe_stats = europe_stats.drop(['NewCases'], axis=1)
europe_stats = europe_stats.drop(['NewDeaths'], axis=1)
europe_stats = europe_stats.drop(['NewRecovered'], axis=1)
europe_stats = europe_stats.drop(['WHO Region'], axis=1)

In [18]:
europe_stats

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
3,Russia,Europe,145940924.0,871894,14606.0,676357.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0
16,Turkey,Asia,84428331.0,237265,5798.0,220546.0,10921.0,580.0,2810.0,69.0,5081802.0,60191.0
18,Germany,Europe,83811260.0,215210,9252.0,196200.0,9758.0,236.0,2568.0,110.0,8586648.0,102452.0
19,France,Europe,65288306.0,195633,30312.0,82460.0,82861.0,384.0,2996.0,464.0,3992206.0,61147.0
15,Italy,Europe,60452568.0,249204,35187.0,201323.0,12694.0,42.0,4122.0,582.0,7099713.0,117443.0
9,Spain,Europe,46756648.0,354530,28500.0,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0
32,Ukraine,Europe,43705858.0,76808,1819.0,42524.0,32465.0,158.0,1757.0,42.0,1116641.0,25549.0
44,Poland,Europe,37842302.0,49515,1774.0,35642.0,12099.0,72.0,1308.0,47.0,2374686.0,62752.0
39,Romania,Europe,19224023.0,57895,2566.0,28992.0,26337.0,458.0,3012.0,133.0,1319369.0,68631.0

In [19]:
europe_stats.describe()

,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
count,9.000000e+00,9.000000,9.000000,8.00000,8.000000,9.000000,9.000000,9.000000,9.000000e+00,9.000000
mean,6.527225e+07,256439.333333,14423.777778,185505.50000,46008.250000,538.555556,3569.888889,239.666667,7.372478e+06,94763.888889
std,3.694945e+07,252172.670693,13427.470730,213991.06325,59686.710143,692.959074,2025.034595,239.186643,8.791644e+06,55249.228129
min,1.922402e+07,49515.000000,1774.000000,28992.00000,9758.000000,42.000000,1308.000000,42.000000,1.116641e+06,25549.000000
25%,4.370586e+07,76808.000000,2566.000000,40803.50000,11804.500000,158.000000,2568.000000,69.000000,2.374686e+06,61147.000000
50%,6.045257e+07,215210.000000,9252.000000,139330.00000,19515.500000,384.000000,2996.000000,110.000000,5.081802e+06,68631.000000
75%,8.381126e+07,249204.000000,28500.000000,206128.75000,45064.000000,580.000000,4122.000000,464.000000,7.099713e+06,117443.000000
max,1.459409e+08,871894.000000,35187.000000,676357.00000,180931.000000,2300.000000,7582.000000,610.000000,2.971691e+07,203623.000000